// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 400 16px/22px 'Roboto', sans-serif;
  color: #222;
  background: #fff;
}

input, textarea {
  padding: 12px 20px;
  font: 400 16px/22px 'Roboto', sans-serif;
  color: #222;
  background: #fff;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

input {
  width: 460px;
  height: 20px;
  margin: 10px 0 10px 10px;
}

#root {
  width: 960px;
  margin: 0 auto;
  font-size: 16px;
}

.top-panel {
  height: 64px;
  width: 960px;
  background: #DDD;
  position: fixed;
}

.phones-list {
  padding-top: 84px;
}

h2 {
  padding: 74px 0 0 10px;
}

.phone-item {
  height: 220px;
  width: 150px;
  float: left;
  margin: 0 10px 40px 0;
  text-align: center;

  &:hover {
    color: #1674f0;
    cursor: pointer;
  }

  .phone-img img {
    height: 150px;
  }

  .phone-title {
    margin-top: 10px;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
  }
}

.separ {
  clear: both;
  width: 100%;
}
